@model IdentityApplication.Core.ViewModel.InsertEmployeeRequest

<div class="container">
    <h4>Create New Tag Employee</h4>
    <br />
    <form method="post" asp-controller="Employee" asp-action="CreateEmployee" id="CreateTagEmployee">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="SelectedLocation" class="form-label">Location</label>
                @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, "Select a location")
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="SelectedDepartment" class="form-label">Department</label>
                @Html.DropDownListFor(m => m.SelectedDepartment, Model.Departments, "Select a department", new { id = "departmentDropdown" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="SelectedCategory" class="form-label">Category</label>
                @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "Select a category", new { id = "categoryDropdown" })
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="SelectedSubCategory" class="form-label">Subcategory</label>
                @Html.DropDownListFor(m => m.SelectedSubCategory, Model.SubCategories, new { id = "subcategoryDropdown" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="E1" class="form-label">E1</label>
                <input asp-for="E1" class="form-control" maxlength="6" />
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="E2" class="form-label">E2</label>
                <input asp-for="E2" class="form-control" maxlength="6" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="M1" class="form-label">M1</label>
                <input asp-for="M1" class="form-control" maxlength="6" />
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="M2" class="form-label">M2</label>
                <input asp-for="M2" class="form-control" maxlength="6" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Month">Month :</label>
                @Html.DropDownListFor(m => m.Month, Model.MonthItems, new { id = "Month" })
            </div>
        </div>

        <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {

            $('select').selectize({
                sortField: 'text'
            });

            $('#categoryDropdown').change(function () {
                var selectedCategory = $(this).val();
                $.ajax({
                    url: '/SubCategory/GetSubcategories?id=' + selectedCategory,
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#subcategoryDropdown').empty();
                        $.each(data, function (index, item) {
                            $('#subcategoryDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    }
                });
            });

            $('#departmentDropdown').change(function () {
                var selectedDepartment = $(this).val();
                $.ajax({
                    url: '/Category/GetCategoryByDepartmentId?id=' + selectedDepartment,
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#categoryDropdown').empty();
                        $.each(data, function (index, item) {
                            $('#categoryDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    }
                });
            });
        });

        function submitForm() {
            // Get the form element
            var form = document.getElementById("CreateTagEmployee");

            var formData = {
                E1: $('#E1').val(),
                E2: $('#E2').val(),
                M1: $('#M1').val(),
                M2: $('#M2').val()
            };

            if ((formData.E1.length > 0 && formData.E1.length !== 6) ||
                (formData.E2.length > 0 && formData.E2.length !== 6) ||
                (formData.M1.length > 0 && formData.M1.length !== 6) ||
                (formData.M2.length > 0 && formData.M2.length !== 6)) {
                notyf.error({
                    message: 'Validation failed.The employee code must be a minimum of six digits long.',
                    duration: 2000,
                    position: {
                        x: 'right',
                        y: 'top',
                    },
                    dismissible: true,
                });
                return;
            }

            // Submit the form
            form.submit();
        }
    </script>
}
