@model IdentityApplication.Core.ViewModel.InsertEmployeeRequest

<h2>Create Employee</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post" asp-controller="Employee" asp-action="CreateEmployee">
    <div class="mb-3">
        <label asp-for="SelectedLocation" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, "Select a location", new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedDepartment" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedDepartment, Model.Departments, "Select a  department", new { @class = "form-select", id = "departmentDropdown" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedCategory" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "Select a category", new { @class = "form-select", id = "categoryDropdown" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedSubCategory" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedSubCategory, Model.SubCategories, new { @class = "form-select", id = "subcategoryDropdown" })
    </div>


    <div class="mb-3">
        <label asp-for="E1" class="form-label"></label>
        <input asp-for="E1" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="E2" class="form-label"></label>
        <input asp-for="E2" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="M1" class="form-label"></label>
        <input asp-for="M1" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="M2" class="form-label"></label>
        <input asp-for="M2" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryDropdown').change(function () {
                var selectedCategory = $(this).val();
                $.ajax({
                    url: '/SubCategory/GetSubcategories?id=' + selectedCategory,
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#subcategoryDropdown').empty();
                        $.each(data, function (index, item) {
                            $('#subcategoryDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error fetching subcategories:', textStatus, errorThrown);
                    }
                });
            });


            $('#departmentDropdown').change(function () {
                var selectedDepartment = $(this).val();
                $.ajax({
                    url: '/Category/GetCategoryByDepartmentId?id=' + selectedDepartment,
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#categoryDropdown').empty();
                        $.each(data, function (index, item) {
                            $('#categoryDropdown').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error fetching categories:', textStatus, errorThrown);
                    }
                });
            });
        });
    </script>
}
