@model IdentityApplication.Core.ViewModel.InsertEmployeeRequest

<h2>Create Employee</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post" asp-controller="Employee" asp-action="CreateEmployee">
    <div class="mb-3">
        <label asp-for="SelectedLocation" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedDepartment" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedDepartment, Model.Departments, new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedCategory" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label asp-for="SelectedSubCategory" class="form-label"></label>
        @Html.DropDownListFor(m => m.SelectedSubCategory, Model.SubCategories, new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label asp-for="E1" class="form-label"></label>
        <input asp-for="E1" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="E2" class="form-label"></label>
        <input asp-for="E2" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="M1" class="form-label"></label>
        <input asp-for="M1" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="M2" class="form-label"></label>
        <input asp-for="M2" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
